* {
  box-sizing:border-box;
}

html {
  height:100vh;
}

body {
  height:40em;
  font-family: open sans;
  display:flex;
  justify-content:center;
  align-items:center;
  color:#10214e;
}

article {
  background:linear-gradient(
    to bottom,
    red 0%,
    red 33.3%,
    white 33.3%,
    white 66.7%,
    blue 66.7%,
    blue 100% );
  width: 450px;
  max-width: 450px;
  min-width: 100px;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:flex-end;
  box-shadow:0 0 20px 20px rgba(0,0,0,.1);
  position: relative;
  transition:.25s;
  height: 35em;
}

header {
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  justify-content:flex-end;
  
}

h1 {
  margin:1.1rem 0 1rem;
  color: rgb(255, 153, 0);
  font-weight: 1000;
  text-decoration: underline;
  transition: .5s;
  position: absolute;
  top: 0em;
}

h1:hover {
  transform: rotate(360deg);
}

.Baby {
  width:10em;
  border-radius:1em;
  border: 3px solid gold;
  box-shadow:0 0 2px 2px rgba(0,0,0,.2);
  top: 510px;
  transition:.25s .15s;
}

.Geslaagd {
  width:6em;
  border-radius:1em;
  border:3px solid gold;
  box-shadow:0 0 2px 2px rgba(0,0,0,.2);
  bottom: -140px;
  transition:.25s .15s;
  left: -162.5px;
}

.Pasfoto {
  width: 7em;
  border-radius: 1em;
  border: 3px solid gold;
  box-shadow: 0 0 2px 2px rgba(0,0,0,.2);
  top: -32px;
  transition: .25s .15s;
  left: 152px;
  margin-bottom: 0px;
}

.nk {
  width:10em;
  border-radius:1em;
  border:3px solid gold;
  box-shadow:0 0 2px 2px rgba(0,0,0,.2);
  top:12rem;
  transition:.25s .15s;
}

img {
  position: relative;
  padding: 1px solid gold;
}

dl {
  width:100%;
  background: rgb(255,255,255);
  
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "html-dd css-dd js-dd"
    "html-dt css-dt js-dt"
    ;
  justify-items:center;
  align-items:start;
  padding:5rem 0 3rem;
  margin-top: -3rem;
  margin-bottom: 0;
  text-align: center;
}

dt{
  font-weight: bold;
  border-top: 1px solid rgba(0,0,0,0.3);
  padding-top: .25rem;
  margin-top: .25rem;
}
dt:nth-of-type(1){ grid-area: html-dt; }
dt:nth-of-type(2){ grid-area: css-dt; transform: translateY(1rem);}
dt:nth-of-type(3){ grid-area: js-dt; }

dd {
  margin:0;
  padding-left:.3rem;
  transition:.25s .3s;
}
dd:nth-of-type(2){  
  transform: translateY(1rem);
}

article > p {
  margin-block: 0rem;
  display: flexbox;
  padding:.2rem 0rem;
  margin-top: -4px;
  background: orange;
  text-align:center;
  border-radius: 1em;
  width:125px;
}

.geboorte {
  position: relative;
  top: 303px;
}

.basisschool {
  position: relative;
  left: -163px;
  top: 288px;
}

.verhuizing {
  position: relative;
  right: -163px;
  top: 277px;
}

.overstap {
  position: relative;
  left: -163px;
  top: 266px;
}

.hockey {
  position: relative;
  right: -163px;
  top: 255px;
}

.slaging {
  position: relative;
  left: -163px;
  top: 130px;
}

.opleiding {
  position: relative;
  bottom: -58px;
}

