* {
  box-sizing:border-box;
}

html {
  height:100vh;
}

body {
  height:40em;
  font-family: open sans;
  display:flex;
  justify-content:center;
  align-items:center;
  color:#10214e;
}

article {
  background:linear-gradient(
    to bottom,
    red 0%,
    red 33.3%,
    white 33.3%,
    white 66.7%,
    blue 66.7%,
    blue 100% );
  width: 450px;
  max-width: 450px;
  min-width: 100px;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:flex-end;
  box-shadow:0 0 20px 20px rgba(0,0,0,.1);
  border-radius:1rem;
  position: relative;
  transition:.25s;
  height: 450px;
}

header {
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  justify-content:flex-end;
  
}

h1 {
  margin:1.1rem 0 1rem;
  color: rgb(255, 153, 0);
  font-size: 35px;
  font-weight: 1000;
  transition: .5s;
  position: absolute;
}

.Gijs {
  top: .1em;
  left: .1em;
  rotate: -45deg;
  text-decoration: underline;
}

.van {
  top: .1em;
  right: .1em;
  rotate: 45deg;
  text-decoration: underline;
}

.de {
  bottom: .4em;
  left: .45em;
  rotate: 45deg;
  text-decoration: underline;
}

.Putte {
  bottom: .3em;
  right: .3em;
  rotate: -45deg;
  text-decoration: underline;
}

dl {
  width:100%;
  background: rgb(255,255,255);
  
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "html-dd css-dd js-dd"
    "html-dt css-dt js-dt"
    ;
  justify-items:center;
  align-items:start;
  padding:5rem 0 3rem;
  margin-top: -3rem;
  margin-bottom: 0;
  text-align: center;
}

dt{
  font-weight: bold;
  border-top: 1px solid rgba(0,0,0,0.3);
  padding-top: .25rem;
  margin-top: .25rem;
}
dt:nth-of-type(1){ grid-area: html-dt; }
dt:nth-of-type(2){ grid-area: css-dt; transform: translateY(1rem);}
dt:nth-of-type(3){ grid-area: js-dt; }

dd {
  margin:0;
  padding-left:.3rem;
  transition:.25s .3s;
}
dd:nth-of-type(2){  
  transform: translateY(1rem);
}

article > p {
  margin-block: 0rem;
  display: flexbox;
  padding:.2rem 0rem;
  margin-top: 0;
  background: orange;
  text-align:center;
  border-radius: 1em;
  width:125px;
}

.res-circle {
  width: 100%;
  border-radius: 50%;
  background: orange;
  line-height: 0;
  position: relative;
  transition: 6s;
}

.res-circle::after {
  content:"";
  display: block;
  padding-bottom: 100%;
}

.res-circle:hover {
  transform: rotate(360deg);
}

img {
  position: absolute;
  width: 80px;
  border-radius: 50%;
}
